# CHANGELOG
{# RELEASED #}
{% for version, release in context.history.released.items() %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% for type_, commits in release["elements"] | dictsort %}
{% if type_ == "💥" or type_ == ":boom:" %}
### 💥 BREAKING CHANGES
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "✨" or type_ == ":feat:" %}
### ✨ Features
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "🔒️" or type_ == ":lock:" %}
### 🔒️ Security
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "💄" or type_ == "🚸" or type_ == "♿️" or type_ == "📱" or type_ == ":lipstick:" or type_ == ":children_crossing:" or type_ == ":wheelchair:" or type_ == ":iphone:" %}
### 💄 UI/UX
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "⚡️" or type_ == ":zap:" %}
### ⚡️ Performances
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "🐛" or type_ == ":bug:" or type_ == "🚑️" or type_ == ":ambulance:" or type_ == "🩹" or type_ == ":adhesive_bandage:" %}
### 🐛 Fixes
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% elif type_ == "⬆️" or type_ == "⬇️" or type_ == "📌" or type_ == "➕" or type_ == "➖" or type_ == ":arrow_up:" or type_ == ":arrow_down:" or type_ == ":pushpin:" or type_ == ":heavy_plus_sign:" or type_ == ":heavy_minus_sign:" %}
### ⬆️ Dependencies
{% for commit in commits %}
* {{ commit.commit.message.rstrip() }} ([`{{ commit.commit.hexsha[:7] }}`]({{ commit.commit.hexsha | commit_hash_url }}))
{% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
